.upload-container{
    /* border: 2px solid red; */
    max-width: 50rem;
    margin: auto;
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    border-radius: 20px;
    background-color: rgb(164, 133, 249);
    color: white;
    box-shadow: rgba(82, 7, 186, 0.464) 0px 20px 30px -10px;
}
.upload-container button{
    padding: 20px 60px;
    border-radius: 10px;
    border: none;
    background-color: rgb(143, 54, 212);
    color: rgb(179, 153, 251);
    font-size: 16px;
    cursor: pointer;
}
.upload-container button:hover{
    background-color: rgb(103, 54, 208);
}
/* .title{
    font-size: 40px;
    font-weight: 600;
}
.description{
    font-size: 20px;
    font-weight: 400;
} */
input[type="file"] {
    position: absolute;  
    left: -9999px;      
}

.custom-file-upload {
    display: flex;
    padding: 20px;
    width: 70%;
    height: 90px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(103, 54, 208);
    color: rgb(179, 153, 251);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.custom-file-upload:hover {
    background-color: rgb(143, 54, 212);
  }
  .custom-file-upload:active{
    background-color: rgb(103, 54, 208);
  }