.footer{
    background-color: rgb(164, 133, 249);
    position: absolute;
    width: 100%;
    bottom: 0;
}
.disclaimer{
    text-align: center;
    padding: 20px 0;
    color: rgb(103, 54, 208);
    font-size: 15px;
}